*{
    margin: 0%;
    padding: 0%;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 20px;
}
.center-sec
{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: rgb(106, 105, 105);
}
button
{
    padding: 10px 20px;
    background-color: #1D4ED8;
    color: white;
    border-radius: 10px;
    

}
.right-sec
{
    gap: 20px;
    display: flex;
    align-items: center;
}
button:hover{
    cursor: pointer;
    background-color: #1844be;
}